<a href="https://colab.research.google.com/github/frag30041997/jupyter-one/blob/master/Eval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Un KPI c'est la Key Performance Indicator, il s'agit de facteurs permettant d'évaluer l'éfficacité d'une mesure ou d'un système mis en place dans une campagne marketting, commerciale ou autre, par exemple, lors lors d'une promotion sur une gamme de produits, le KPI lié a cette manoeuvre sera la différence dans la vente de cette gamme avec et sans la promotion.

In [ ]:
import numpy as np, pandas as pd

In [ ]:
df = pd.read_csv('/house_pricing.csv')

In [ ]:
df1 = pd.read_csv('eval_data.csv')

In [ ]:
df1.head(10)

   Unnamed: 0  ...  item_price
0           0  ...         NaN
1           1  ...      $3.39
2           2  ...      $3.39
3           3  ...         NaN
4           4  ...     $16.98
5           5  ...     $10.98
6           6  ...      $1.69
7           7  ...     $11.75
8           8  ...      $9.25
9           9  ...      $9.25

[10 rows x 6 columns]

In [ ]:
df1.shape

(4622, 6)

In [ ]:
df1.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Ce dataset comprend 6 colonnes et représente les donnés des commandes d'un fast-food:
Unnamed: 0 est le numéros de ligne du tableau (débutant a 0).
order_id est l'id de la commande permettant de grouper tout les produits de la meme commande.
quantity represente la quantité de l'objet présente dans la meme commande.
item_name est le nom du produit, choice_description en est la description et item_price en est le prix.

In [ ]:
df1['item_price'] = df1['item_price'].str.replace('$', '')
df1['item_price'].astype('float')
df1.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [ ]:
df1.groupby(['item_name'])['quantity'].max()

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Barbacoa Crispy Tacos                     2
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Bottled Water                            10
Bowl                                      3
Burrito                                   1
Canned Soda                               4
Canned Soft Drink                         4
Carnitas Bowl                             3
Carnitas Burrito                          2
Carnitas Crispy Tacos                     2
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Chicken Bowl                              3
Chicken Burrito                           4
Chicken Crispy Tacos                      2
Chicken Salad                             1
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Chips                                     3
Chips and Fresh Tomato Salsa             15
Chips and Guacamole                       4
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             8
Steak Bowl                                3
Steak Burrito                             3
Steak Crispy Tacos                        2
Steak Salad                               1
Steak Salad Bowl                          2
Steak Soft Tacos                          2
Veggie Bowl                               2
Veggie Burrito                            3
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         1
Veggie Soft Tacos                         2
Name: quantity, dtype: int64

On peut constater grâce a cette liste que l'item le plus commandé est le 'Chips and Fresh Tomato Salsa' aveec 15 commandes dans la liste

In [50]:
df1["quantity"].sum()

4972