<a href="https://colab.research.google.com/github/frag30041997/jupyter-one/blob/master/Eval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Un KPI c'est la Key Performance Indicator, il s'agit de facteurs permettant d'évaluer l'éfficacité d'une mesure ou d'un système mis en place dans une campagne marketting, commerciale ou autre, par exemple, lors lors d'une promotion sur une gamme de produits, le KPI lié a cette manoeuvre sera la différence dans la vente de cette gamme avec et sans la promotion.

In [2]:
import numpy as np, pandas as pd

In [ ]:
df = pd.read_csv('/house_pricing.csv')

## I

In [8]:
df1 = pd.read_csv('eval_data.csv')

In [9]:
df1.head(10)

   Unnamed: 0  ...  item_price
0           0  ...         NaN
1           1  ...      $3.39
2           2  ...      $3.39
3           3  ...         NaN
4           4  ...     $16.98
5           5  ...     $10.98
6           6  ...      $1.69
7           7  ...     $11.75
8           8  ...      $9.25
9           9  ...      $9.25

[10 rows x 6 columns]