<a href="https://colab.research.google.com/github/frag30041997/jupyter-one/blob/Cours-Data-Analyst/TP_final_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import seaborn as sns; sns.set
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder as LE
import numpy as np


def accuracy(preds,target):
  return (preds==target).sum()/len(target)


def show_cm(confusion_matrix, labels):
    df_cm = pd.DataFrame(confusion_matrix, labels, labels)
    sns.heatmap(df_cm, annot=True)
    plt.show()

#fonction qui reécrit une colonne pour la refaire en int 
def sci_to_int(feature):
  iplist = []
  for i in range(len(feature)):
    iplist.append(int(feature[i]))
  return iplist

#on part d'un fichier réduit pour raisons pratiques (importation drive impossible sinon)
df_rainb = pd.read_csv('/content/drive/My Drive/Colab Notebooks/datasets/S5_operators.csv',sep=';', encoding="ISO-8859-1",engine='python')
df_rainb.shape

(509692, 12)

#Preprocessing

Le dataset est trop volumineux mais on ne peut pas retirer des données au hasard car on veux des donnés sur plusieurs dates, il va falloir commencer par un gros travail de preprocessing qui définira grandement le rendu par effet papillon.
- version minimale trouvée avec 510 000 lignes

#Phase 2 (transfo data)

In [62]:
df_rainb.head(5)

  platform    dateid skillrank      role  ... nbwins nbkills nbdeaths nbpicks
0       PC  20170210    Bronze  Attacker  ...      6       6        6       8
1       PC  20170210    Bronze  Attacker  ...      4       2        6       8
2       PC  20170210    Bronze  Attacker  ...     37      40       49      70
3       PC  20170210    Bronze  Attacker  ...     17      24       31      41
4       PC  20170210    Bronze  Attacker  ...     74     123      127     174

[5 rows x 12 columns]

In [ ]:
labenc = LE() #initialisation labelencoder

#uniformisation des datas (+ dictionnaires)
df_rainb['platform'] = labenc.fit_transform(df_rainb['platform'])
df_rainb['skillrank'] = sci_to_int(df_rainb['skillrank'])
df_rainb['role'] = labenc.fit_transform(df_rainb['role'])
df_rainb['operator'] = labenc.fit_transform(df_rainb['operator'])
df_rainb['primaryweapon'] = labenc.fit_transform(df_rainb['primaryweapon'])
df_rainb['secondaryweapon'] = pd.to_datetime(df_rainb['secondaryweapon'])
df_rainb['secondarygadget'] = pd.to_datetime(df_rainb['secondarygadget'])


df_rainb.info()